

*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
 }

 
 
 h1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}


.grey{
    background-color:grey;
    margin: 20px 100px;
    height: 45px;
    display: flex;
   align-items: center;
   max-width:800px;
   margin: auto;
}


.grey h2{
    margin-left: 5px;
}

.container{
    width: 100%;
    max-width: 600px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.container img{
    width: 300px;
    height: 300px;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}
.container p{
    text-align: justify;
}


@media (max-width: 768px) {
.grey{

    background-color: red; 
}
.container img{
    width: 250px;
    height: 250px;
}
}
